@CHARSET "UTF-8";
html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
body {
	width: 100%;
	height: 100%;
}
#hello, #logout {
	text-align: center;
}
#logout {
	margin-bottom: 15px;
}
#logout > a {
	color: #000;
}
table {
	width: 70%;
	margin: 0 auto;
	border-collapse:collapse; 
}
td, th {
	border: 1px solid #000;
	text-align: center;
}
th {
	background-color: #F44336;
}
#color {
	background-color: #AAA;
}
#link {
	text-decoration: underline;
}
#form {
	margin: 10px auto;
}
#input {
	text-align: center;
	width: 60%;
	padding: 5px;
}
#inputButton {
	vertical-align: bottom;
	padding: 5px;
	margin: 5px;
}